.ghost     { color: #babdb6; }
.selection { background: #391f21 !important; color: #959793 !important; }
.gutter    { background: #0a001f; border-right: 1px solid #aaa; }
.cursor    { border-left: 1px solid white !important; }
.undefined { color: #DDD; }
.comment   { color: #656763; }
.atom      { color: #eeeeec; }
.number    { color: #729fcf; }
.attribute { color: #ffd500; }

.operator  { color: #fcaf3e; }
.string    { color: #8ae234; }
.string-2  { color: #9d1e15; }
.meta      { color: #8CA48A; }
.tag       { color: #99b2ff; }
.error     { color: #9d1e15; }
.variable-2{ color: #ffd500; }

.key1      { color: #fcaf3e; }
.key2      { color: #ffd500; }
.key3      { color: #ff4c00; }
.key4      { color: #ff3c00; }
.key5      { color: #ff2c00; }


* {
    padding: 0px;
    margin: 0px;
    font-family: Courier, monospace;
    font-size: 13px;
    font-weight: normal;
}

body {
    overflow: hidden;
    background-color: black;
    color: white;
}

input:focus {
    outline-width: 0;
    background: #391f21;
}

.holder {
    position: relative;
    height: 100px;
    overflow: auto;
    background-color: #111;
    padding: 0px 5px;
}

#caret-line {
    position: absolute;
    display: inline-block;
    overflow: visible;
    white-space: pre-wrap;
}

#caret-text, #caret-tail {
    color: rgba(0,0,0,0);
}

#caret-char {
    color: #555;
    background-color: #500;
}

.ghost {
    position: absolute;
    top: 100px;
    z-index: 1;

    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-flex-direction: column;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.marks {
    position: absolute;
    top: 100px;
}

.highlight {
    position: absolute;
    top: 100px;
    color: #222;
    z-index: 0;
    white-space: pre-wrap;
}

.pad {
    position: absolute;
    top: 100px;

    z-index: 2;
    border: none;
    width: 100%;
    height: 4000px;
    /* Remove resize handle */
    resize: none;
    /* Remove the blue glow */
    outline: none;

    overflow: hidden;

    opacity:0.02;

}

.prompt {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 2px;
    background-color: gray;
}

.prompt input[text] {
    width: 300px;
}

input {
    background: #111;
    border: none;
    color: #999;
    line-height: 14px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    padding:0px;
    margin:0px;
}

.popup {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #AAA;
    background: #111;
    z-index: 10;
    border-top: solid 2px #E39F3B;
}

#open-box input {
    width: 300px;
}

#open-box div {
    margin: 2px;
    margin-left: 22px;
}

#search-box input {
    width: 200px;
}

#command-box input {
    width: 350px;
}

#error-box {
    position: absolute;
    top: 200px;
    padding: 20px;
    width: 100%;
    background-color: #440000;
    color: white;
    z-index: 11;
}

#login-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    width: 100%;
    background-color: #222;
    color: white;
    z-index: 10;
}

#login-box img {
    display: block;
    margin: 10px auto;
}

#login-box input {
    padding: 5px;
}

#login-box div {
    display: block;
    margin: 10px auto;
    width: 280px;
    text-align: right;
}

#login-box button {
    background-color: #500;
    color: #DDD;
    border: 1px solid #700;
    border-radius: 5px;
    padding: 5px 30px;
}

.sug-common {
    color: #EEE;
}

.sug-highlight {
    color: #fcaf3e;
}

.sug b {
    color: #FFF;
}

.sug:hover {
    color: #fcaf3e;
}

#mini-map {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #100;
    z-index: 10;
}

#mini-map .inner {
    -webkit-transform: scale(0.2);
    font-family: monospace;
    font-size: 12px;
    color: white;
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: none;
    background-color: #383838;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.mark {
    position: absolute;
    right: 0px;
    color: rgba(255, 120, 120, 1);
    background-color: rgba(255, 0, 0, 0.12);
    width: 100%;
    text-align: right;
}

.mark.change {
    background-color: #1F1600;
    color: #845B25;
}
