* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
    background-color: red;
    
    font-family: monospace;
    font-size: 12px;
    color: white;
}

.holder {
    position: relative;
    height: 100px;
    overflow: auto;
    background-color: #111;
}

.comment {
    color: gray;
}
.string {
    color: green;
}
.key1 {
    color: blue;
}
.key2 {
    color: cyan;
}
.key3 {
    color: orange;
}


.mark {
    color: red;
}
.str {
    color: green;
}

#caret-line {
    position: absolute;
    display: inline-block;
    width: 100%;
    overflow: visible;
    background-color: #200;
    white-space: pre-wrap;
}
#caret-text {
    color: rgba(0,0,0,0);   
}
#caret-char {
    color: #555;   
    background-color: #500;
}

.selection {
    background-color: blue;
}

.ghost {
    position: absolute;
    top: 100px;

    font-family: monospace;
    font-size: 12px;
    color: white;
    
    z-index: 1;
    white-space: pre-wrap;
}
.highlight {
    position: absolute;
    top: 100px;

    font-family: monospace;
    font-size: 12px;
    color: #222;
    
    z-index: 0;
    white-space: pre-wrap;
    background-color: #222;

}
.pad {
    position: absolute;
    top: 100px;
    
    z-index: 2;
    
    font-family: monospace;
    font-size: 12px;
    background-color: rgba(0,0,0,0);

    border: none;
    width: 100%;
    height: 4000px;
    /* Remove resize handle */
    resize: none;
    /* Remove the blue glow */
    outline: none;
    
    overflow: hidden;
    
    opacity:0.02; 
    
    color: rgba(0,0,0,0);
    

}

.pad::selection, .pad::-moz-selection, .pad::-webkit-selection { 
    background: red;
    color: red;
}

